.dashboard {
    width: 90%;
    /* flex-grow: 100; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.dashboard .cash-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 1px solid blue; */
    /* height: 150px; */
    margin-bottom: 15px;
}

.dashboard .transactions-details {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* height: 400px; */
    padding: 15px;
    box-shadow: 1px 1px 5px lightgray;
    /* border: 1px solid green; */
    margin-bottom: 50px;
}

.dashboard h3 {
    margin: 0;
    margin-bottom: 5px;
    color: var(--primaryColor);
}

.dashboard span {
    font-weight: 600;
    font-size: 20px;
}

.dashboard .title h3 {
    color: var(--secondaryColor)
}

.dashboard .title span{
    font-weight: 300;
    font-size: 16px;
    color: gray;
}

.dashboard .graph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard .graph {
    width: 300px;
    height: 300px;
    margin-top: 10px;
}

.dashboard .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-left: 1px solid var(--primaryColor); */

}

@media (min-width: 700px) {
    .dashboard .graph {
        width: 500px;
    }
}

@media (min-width: 960px) {
    .dashboard .transactions-details {
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 0;
    }    

    .dashboard .graph-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}