.settings {
    display: flex;
    flex-grow: 100;
    width: 70%;
    flex-direction: column;
}

.settings-title {
    color: var(--secondaryColor);
    font-weight: 500;
    margin-top: 0;
    padding-bottom: 30px;
    font-size: 24px;
    border-bottom: 0.5px solid rgba(124, 124, 124, 0.28);
}

.settings div h3 {
    color: var(--secondaryColor);
    font-weight: 500;
    font-size: 24px;
    margin-left: 25px;
    margin-bottom: 0;
    padding-bottom: 30px;
    border-bottom: 0.5px solid rgba(124, 124, 124, 0.28);
}

.settings-fields-container {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    /* margin-right: 10px; */
}

.settings-fields-container .field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 20px;
    border-bottom: 0.5px solid rgba(124, 124, 124, 0.28);
}

.settings-fields-container .field .icon {
    color: white;
    font-size: 18px;
}

.settings-fields-container div {
    background-color: transparent;
    height: 50px;
    color: gray;
    width: 90%;
    font-weight: 400;
    font-size: 20px;
}

.settings-fields-container input:focus-visible {
    outline: none;
}

.settings-fields-container .field {
    padding: 10px 5px;
}

.settings-fields-container .field p {
    width: 90%;
    color: #7C7C7C;

}

.settings .update-btn {
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    font-size: 16px;
}

.settings .update-btn:hover {
    background-color: lightgray;
}

.settings .model-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
}

.settings .model-content .model-input {
    padding: 10px 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid var(--secondaryColor);
    /* color: gray;  */
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
}

.settings .model-content .model-input:focus-visible {
    outline: 1px solid var(--secondaryColor);
}

.settings .model-content button {
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 15px;
    background-color: var(--primaryColor);
}

.settings .model-content button:hover {
    background-color: rgb(190, 190, 190);
}